<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dota 2</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


    <header class="header">
        <div class="container">
            <div class="header-wrapper">
                <a href="#" class="header-logo">
                    <svg width="119" height="31" viewBox="0 0 119 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15.6654 22.2579C14.3334 22.2579 13.2294 21.9759 12.3534 21.4119C11.4774 20.8479 10.8654 20.0859 10.5174 19.1259L13.2714 17.5239C13.7394 18.6399 14.5674 19.1979 15.7554 19.1979C16.7394 19.1979 17.2314 18.9159 17.2314 18.3519C17.2314 17.9799 16.9494 17.6799 16.3854 17.4519C16.1454 17.3559 15.6174 17.1939 14.8014 16.9659C13.6494 16.6299 12.7374 16.1619 12.0654 15.5619C11.3934 14.9499 11.0574 14.1039 11.0574 13.0239C11.0574 11.8599 11.4714 10.9179 12.2994 10.1979C13.1394 9.47785 14.1834 9.11785 15.4314 9.11785C16.4874 9.11785 17.4234 9.36385 18.2394 9.85585C19.0554 10.3479 19.6794 11.0619 20.1114 11.9979L17.4114 13.5819C17.0154 12.6459 16.3614 12.1779 15.4494 12.1779C15.0654 12.1779 14.7714 12.2559 14.5674 12.4119C14.3754 12.5679 14.2794 12.7659 14.2794 13.0059C14.2794 13.2819 14.4234 13.5159 14.7114 13.7079C15.0114 13.8999 15.5874 14.1219 16.4394 14.3739C17.0514 14.5539 17.5434 14.7219 17.9154 14.8779C18.2874 15.0339 18.6954 15.2619 19.1394 15.5619C19.5834 15.8499 19.9134 16.2279 20.1294 16.6959C20.3454 17.1519 20.4534 17.6919 20.4534 18.3159C20.4534 19.5519 20.0154 20.5179 19.1394 21.2139C18.2634 21.9099 17.1054 22.2579 15.6654 22.2579ZM32.0648 21.9879H28.4648L24.8468 16.3539V21.9879H21.6248V9.38785H24.8468V14.6799L28.2848 9.38785H31.8848L27.8888 15.5079L32.0648 21.9879ZM32.9802 9.38785H36.2022V21.9879H32.9802V9.38785ZM45.1314 9.38785H48.3354V21.9879H45.8514L41.4054 15.6519V21.9879H38.1834V9.38785H40.6854L45.1314 15.7239V9.38785ZM63.048 9.38785V12.5019H59.934V21.9879H56.712V12.5019H53.598V9.38785H63.048ZM70.7866 21.9879L68.5906 17.9199H67.4386V21.9879H64.2166V9.38785H69.2566C70.5406 9.38785 71.6146 9.80185 72.4786 10.6299C73.3546 11.4459 73.7926 12.4839 73.7926 13.7439C73.7926 14.4999 73.6006 15.1959 73.2166 15.8319C72.8326 16.4559 72.3106 16.9539 71.6506 17.3259L74.2426 21.9879H70.7866ZM67.4386 12.3579V15.1839H69.2206C69.6166 15.1959 69.9406 15.0699 70.1926 14.8059C70.4446 14.5419 70.5706 14.1999 70.5706 13.7799C70.5706 13.3599 70.4446 13.0179 70.1926 12.7539C69.9406 12.4899 69.6166 12.3579 69.2206 12.3579H67.4386ZM83.2229 21.9879L82.6829 20.1699H78.4889L77.9489 21.9879H74.4569L78.6149 9.38785H82.5389L86.6969 21.9879H83.2229ZM79.3169 17.3979H81.8549L80.5769 13.1139L79.3169 17.3979ZM92.743 9.38785C94.483 9.38785 95.935 9.99385 97.099 11.2059C98.275 12.4059 98.863 13.8999 98.863 15.6879C98.863 17.4759 98.275 18.9759 97.099 20.1879C95.935 21.3879 94.483 21.9879 92.743 21.9879H87.613V9.38785H92.743ZM92.743 18.8739C93.619 18.8739 94.333 18.5859 94.885 18.0099C95.437 17.4219 95.713 16.6479 95.713 15.6879C95.713 14.7279 95.437 13.9599 94.885 13.3839C94.333 12.7959 93.619 12.5019 92.743 12.5019H90.925V18.8739H92.743ZM103.579 18.9639H108.457V21.9879H100.357V9.38785H108.367V12.3939H103.579V14.1399H107.917V17.1099H103.579V18.9639Z"
                            fill="white" />
                        <rect x="0.75" y="1.15656" width="117.5" height="29.08" rx="3.25" stroke="url(#paint0_linear)"
                            stroke-width="1.5" />
                        <defs>
                            <linearGradient id="paint0_linear" x1="119" y1="0.406557" x2="3.73403e-06" y2="30.9866"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#7F00FF" />
                                <stop offset="1" stop-color="#19D233" />
                            </linearGradient>
                        </defs>
                    </svg>
                </a>
                <div id="header-nav" class="header-nav">
                    <div class="header-nav__item">Как это работает</div>
                    <div class="header-nav__item">Купить скины</div>
                    <div class="header-nav__item">Бонус</div>
                    <div class="header-nav__item">FAQ</div>
                    <div class="header-nav__item">Блог</div>
                    <div class="header-nav__item">Партнерская программа</div>
                    <div class="header-nav__item _lang">
                        <svg width="102" height="40" viewBox="0 0 102 40" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect width="102" height="40" rx="4" fill="#191D2D" />
                            <path
                                d="M49.01 25V21.29H50.746L52.706 25H54.736L52.692 21.304C52.566 21.066 52.454 20.884 52.37 20.786V20.758C53.392 20.352 54.036 19.26 54.036 18.042C54.036 16.712 53.406 15.76 52.356 15.326C51.95 15.144 51.32 15.06 50.48 15.06H47.204V25H49.01ZM49.01 16.614H50.326C50.802 16.614 51.166 16.67 51.418 16.782C51.936 16.992 52.202 17.454 52.202 18.14C52.202 19.106 51.6 19.722 50.634 19.722H49.01V16.614ZM56.0471 21.43C56.0471 22.536 56.4111 23.446 57.1531 24.132C57.8951 24.818 58.8611 25.168 60.0651 25.168C61.2551 25.168 62.2211 24.818 62.9491 24.132C63.6911 23.446 64.0551 22.536 64.0551 21.43V15.06H62.2491V21.416C62.2491 22.746 61.3951 23.516 60.0511 23.516C58.7071 23.516 57.8531 22.746 57.8531 21.416V15.06H56.0471V21.43Z"
                                fill="#9398B2" />
                            <rect x="16.25" y="12.25" width="21.9" height="15.5" rx="1.75" fill="white" stroke="#F5F5F5"
                                stroke-width="0.5" />
                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="16" y="12" width="23"
                                height="16">
                                <rect x="16.25" y="12.25" width="21.9" height="15.5" rx="1.75" fill="white"
                                    stroke="white" stroke-width="0.5" />
                            </mask>
                            <g mask="url(#mask0)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 22.6666H38.4V17.3333H16V22.6666Z"
                                    fill="#0C47B7" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 28H38.4V22.6667H16V28Z"
                                    fill="#E53B35" />
                            </g>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M83.6465 17.6464L84.3536 18.3535L80 22.7071L75.6465 18.3535L76.3536 17.6464L80 21.2929L83.6465 17.6464Z"
                                fill="#9398B2" />
                        </svg>
                    </div>
                </div>
                <div id="burger" class="header-nav__item burger">
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                    <div class="burger-line"></div>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="section-promo">
            <div class="container">
                <div class="main-promo__wrapper">
                    <div class="main-promo__show-text">
                        <div class="title_48">Самая выгодная<br>продажа скинов<br>Dota2</div>
                        <div class="btn_main">Перейти к продаже&nbsp;&nbsp;&nbsp;&nbsp;
                            <svg width="24" height="10" viewBox="0 0 24 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M23.0677 4.99284L18.818 0.75737L17.4061 2.17397L19.2415 4.00318L0.932469 4.00118L0.932251 6.00118L19.2369 6.00318L17.4155 7.8308L18.8321 9.24262L23.0677 4.99284Z"
                                    fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="main-promo__img"></div>
                </div>
            </div>
        </div>
        <div class="section-hero">
            <div class="container">
                <div class="hero-wrapper">
                    <div class="hero-left">
                        <img src="img/hero1.png" alt="">
                        <div class="dropdown-inner _hero">
                            <div class="dropdown-inner__title">Быстро продать скины Dota2 легко!<br><br></div>
                            <div class="dropdown-inner__text">
                                Если Вы вывели предмет обменом в стим, и его цена в стиме ниже на 20%, чем цена на сайте, тогда смело пишите в поддержку через виджет на сайте. Мы начислим Вам разницу на баланс на сайте! 
                            </div>
                        </div>
                    </div>
                    <div class="hero-right">
                        <img src="img/hero2.png" alt="">
                        <div class="dropdown-inner _hero">
                            <div class="dropdown-inner__title">Получай деньги за продажу скинов любым способом<br><br></div>
                            <div class="dropdown-inner__text">
                                Если предмет был выведен балансом на стим, и Вам не хватает на его покупку на площадке стим, тогда тоже смело можете писать в поддержку, мы компенсируем.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-text__wrapper">
                    <div class="hero-text hero-left__text">Быстро продать скины<br>Dota2 легко!</div>
                    <div class="hero-text hero-right__text">Получай деньги за продажу<br>скинов любым способом</div>
                </div>
            </div>
        </div>
        <div class="section-faq">
            <div class="container">
                <div class="faq-dropdown">
                    <div class="dropdown-menu">
                        <div class="dropdown-menu__gradient active">
                            <div class="dropdown-menu__item active">Я вывел вещь, в стиме она стоит дешевле! 
                                <span class="arrow-icon">></span>
                            </div>
                        </div>
                        <div class="dropdown-menu__gradient">
                            <div class="dropdown-menu__item">Почему мои вещи проданы, хотя я их не продавал?
                                <span class="arrow-icon">></span>
                            </div>
                        </div>
                        <div class="dropdown-menu__gradient">
                            <div class="dropdown-menu__item">Как купить выгодное предложение?
                                <span class="arrow-icon">></span>
                            </div>
                        </div>
                        <div class="dropdown-menu__gradient">
                            <div class="dropdown-menu__item">Я не нашел интересующего меня вопроса
                                <span class="arrow-icon">></span>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-inner active">
                        <div class="dropdown-inner__title">Я вывел вещь, в стиме она стоит дешевле!<br><br></div>
                        <div class="dropdown-inner__text">
                            Если Вы вывели предмет обменом в стим, и его цена в стиме ниже на 20%, чем цена на сайте, тогда смело пишите в поддержку через виджет на сайте. Мы начислим Вам разницу на баланс на сайте!<br><br><br>
                            Если предмет был выведен балансом на стим, и Вам не хватает на его покупку на площадке стим, тогда тоже смело можете писать в поддержку, мы компенсируем. Внимание, компенсация полагается если разница в цене от 10 рублей.
                        </div>
                    </div>
                    <div class="dropdown-inner">
                        <div class="dropdown-inner__title">Я вывел вещь, в стиме она стоит дешевле!2<br><br></div>
                        <div class="dropdown-inner__text">
                            Если Вы вывели предмет обменом в стим, и его цена в стиме ниже на 20%, чем цена на сайте, тогда смело пишите в поддержку через виджет на сайте. Мы начислим Вам разницу на баланс на сайте!<br><br><br>
                            Если предмет был выведен балансом на стим, и Вам не хватает на его покупку на площадке стим, тогда тоже смело можете писать в поддержку, мы компенсируем. Внимание, компенсация полагается если разница в цене от 10 рублей.
                        </div>
                    </div>
                    <div class="dropdown-inner">
                        <div class="dropdown-inner__title">Я вывел вещь, в стиме она стоит дешевле!3<br><br></div>
                        <div class="dropdown-inner__text">
                            Если Вы вывели предмет обменом в стим, и его цена в стиме ниже на 20%, чем цена на сайте, тогда смело пишите в поддержку через виджет на сайте. Мы начислим Вам разницу на баланс на сайте!<br><br><br>
                            Если предмет был выведен балансом на стим, и Вам не хватает на его покупку на площадке стим, тогда тоже смело можете писать в поддержку, мы компенсируем. Внимание, компенсация полагается если разница в цене от 10 рублей.
                        </div>
                    </div>
                    <div class="dropdown-inner">
                        <div class="dropdown-inner__title">Я вывел вещь, в стиме она стоит дешевле!4<br><br></div>
                        <div class="dropdown-inner__text">
                            Если Вы вывели предмет обменом в стим, и его цена в стиме ниже на 20%, чем цена на сайте, тогда смело пишите в поддержку через виджет на сайте. Мы начислим Вам разницу на баланс на сайте!<br><br><br>
                            Если предмет был выведен балансом на стим, и Вам не хватает на его покупку на площадке стим, тогда тоже смело можете писать в поддержку, мы компенсируем. Внимание, компенсация полагается если разница в цене от 10 рублей.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-banner">
            <div class="container">
                <div class="banner">
                    <div class="btn_main">Перейти к продаже&nbsp;&nbsp;&nbsp;&nbsp;
                        <svg width="24" height="10" viewBox="0 0 24 10" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M23.0677 4.99284L18.818 0.75737L17.4061 2.17397L19.2415 4.00318L0.932469 4.00118L0.932251 6.00118L19.2369 6.00318L17.4155 7.8308L18.8321 9.24262L23.0677 4.99284Z"
                                fill="white" />
                        </svg>
                    </div>
                </div>
                <div class="footer-line"></div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-info">
                    <div class="footer-logo">
                        <svg width="119" height="31" viewBox="0 0 119 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.6654 22.2579C14.3334 22.2579 13.2294 21.9759 12.3534 21.4119C11.4774 20.8479 10.8654 20.0859 10.5174 19.1259L13.2714 17.5239C13.7394 18.6399 14.5674 19.1979 15.7554 19.1979C16.7394 19.1979 17.2314 18.9159 17.2314 18.3519C17.2314 17.9799 16.9494 17.6799 16.3854 17.4519C16.1454 17.3559 15.6174 17.1939 14.8014 16.9659C13.6494 16.6299 12.7374 16.1619 12.0654 15.5619C11.3934 14.9499 11.0574 14.1039 11.0574 13.0239C11.0574 11.8599 11.4714 10.9179 12.2994 10.1979C13.1394 9.47785 14.1834 9.11785 15.4314 9.11785C16.4874 9.11785 17.4234 9.36385 18.2394 9.85585C19.0554 10.3479 19.6794 11.0619 20.1114 11.9979L17.4114 13.5819C17.0154 12.6459 16.3614 12.1779 15.4494 12.1779C15.0654 12.1779 14.7714 12.2559 14.5674 12.4119C14.3754 12.5679 14.2794 12.7659 14.2794 13.0059C14.2794 13.2819 14.4234 13.5159 14.7114 13.7079C15.0114 13.8999 15.5874 14.1219 16.4394 14.3739C17.0514 14.5539 17.5434 14.7219 17.9154 14.8779C18.2874 15.0339 18.6954 15.2619 19.1394 15.5619C19.5834 15.8499 19.9134 16.2279 20.1294 16.6959C20.3454 17.1519 20.4534 17.6919 20.4534 18.3159C20.4534 19.5519 20.0154 20.5179 19.1394 21.2139C18.2634 21.9099 17.1054 22.2579 15.6654 22.2579ZM32.0648 21.9879H28.4648L24.8468 16.3539V21.9879H21.6248V9.38785H24.8468V14.6799L28.2848 9.38785H31.8848L27.8888 15.5079L32.0648 21.9879ZM32.9802 9.38785H36.2022V21.9879H32.9802V9.38785ZM45.1314 9.38785H48.3354V21.9879H45.8514L41.4054 15.6519V21.9879H38.1834V9.38785H40.6854L45.1314 15.7239V9.38785ZM63.048 9.38785V12.5019H59.934V21.9879H56.712V12.5019H53.598V9.38785H63.048ZM70.7866 21.9879L68.5906 17.9199H67.4386V21.9879H64.2166V9.38785H69.2566C70.5406 9.38785 71.6146 9.80185 72.4786 10.6299C73.3546 11.4459 73.7926 12.4839 73.7926 13.7439C73.7926 14.4999 73.6006 15.1959 73.2166 15.8319C72.8326 16.4559 72.3106 16.9539 71.6506 17.3259L74.2426 21.9879H70.7866ZM67.4386 12.3579V15.1839H69.2206C69.6166 15.1959 69.9406 15.0699 70.1926 14.8059C70.4446 14.5419 70.5706 14.1999 70.5706 13.7799C70.5706 13.3599 70.4446 13.0179 70.1926 12.7539C69.9406 12.4899 69.6166 12.3579 69.2206 12.3579H67.4386ZM83.2229 21.9879L82.6829 20.1699H78.4889L77.9489 21.9879H74.4569L78.6149 9.38785H82.5389L86.6969 21.9879H83.2229ZM79.3169 17.3979H81.8549L80.5769 13.1139L79.3169 17.3979ZM92.743 9.38785C94.483 9.38785 95.935 9.99385 97.099 11.2059C98.275 12.4059 98.863 13.8999 98.863 15.6879C98.863 17.4759 98.275 18.9759 97.099 20.1879C95.935 21.3879 94.483 21.9879 92.743 21.9879H87.613V9.38785H92.743ZM92.743 18.8739C93.619 18.8739 94.333 18.5859 94.885 18.0099C95.437 17.4219 95.713 16.6479 95.713 15.6879C95.713 14.7279 95.437 13.9599 94.885 13.3839C94.333 12.7959 93.619 12.5019 92.743 12.5019H90.925V18.8739H92.743ZM103.579 18.9639H108.457V21.9879H100.357V9.38785H108.367V12.3939H103.579V14.1399H107.917V17.1099H103.579V18.9639Z"
                                fill="white" />
                            <rect x="0.75" y="1.15656" width="117.5" height="29.08" rx="3.25" stroke="url(#paint0_linear)"
                                stroke-width="1.5" />
                            <defs>
                                <linearGradient id="paint0_linear" x1="119" y1="0.406557" x2="3.73403e-06" y2="30.9866"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#7F00FF" />
                                    <stop offset="1" stop-color="#19D233" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                    <div class="footer-policy">
                        Copyright © 2018 Skins.Cash. <br>
                        Все права защищены.
                    </div>
                    <div class="footer-social">
                        <img src="img/social.png" alt="">
                    </div>
                </div>
                <div class="footer-links">
                    <span class="footer-links__item">Как это работает</span>
                    <span class="footer-links__item">Бонус</span>
                    <span class="footer-links__item">FAQ</span>
                    <span class="footer-links__item">Связь с нами</span>
                    <span class="footer-links__item">Блог</span>
                    <span class="footer-links__item">Giveaway</span>
                    <span class="footer-links__item">Партнерская программа</span>
                    <span class="footer-links__item">Мгновенные выплаты</span>
                    <span class="footer-links__item">На 100% безопасно</span>
                    <span class="footer-links__item">Без скрытых комиссий</span>
                    <span class="footer-links__item">One Pager</span>
                    <span class="footer-links__item">Условия использования</span>
                    <span class="footer-links__item">Политика конфиденциальности</span>
                </div>
            </div>
        </div>
    </footer>

<script src="js/index.js"></script>
</body>

</html>