@font-face {
	font-family: 'Museo Sans Cyrl 700';
	src: url('/fonts/MuseoSans/MuseoSansCyrl-700.eot');
	src: local('/fonts/MuseoSans/MuseoSansCyrl-700'),
		url('/fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('/fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'),
		url('/fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Museo Sans Cyrl 500';
	src: url('/fonts/MuseoSans/MuseoSansCyrl-500.eot');
	src: local('/fonts/MuseoSans/MuseoSansCyrl-500'),
		url('/fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('/fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
		url('/fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Museo Sans Cyrl 700';
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1216px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
@media (max-width: 1236px) {
    .container {
        padding: 0 20px;
    }
}
/* header */
.header {
    width: 100%;
    height: 70px;
    background-color: #131521;
}
.header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    z-index: 10;
}
.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}
.header-nav__item {
    text-transform: uppercase;
    font-size: 13px;
    color: #9398B2;
    transition: 0.3s;
}
.header-nav__item:hover {
    cursor: pointer;
    color: #fff;
}
.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #9398B2;
    transform: scale(0.8);
    display: none;
    z-index: 10;
}
.burger-line {
    height: 3px;
    width: 24px;
    margin: 3px 8px;
    background: #9398B2;
}

@media (max-width: 1216px) {
    .header-nav {
        position: fixed;
        flex-direction: column;
        gap: 20px;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #080C13;
        transform: translateY(-100vh);
        transition: 0.3s;
    }
    .header-nav.active {
        transform: translateY(0);
    }
    .burger {
        display: flex;
    }
}

/* main */
.section-promo {
    width: 100%;
    height: calc(60vh - 70px);
    background: url('/img/bg.png') 50% -70px no-repeat;
    background-size: cover;
}
.main-promo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-promo__show-text {
    min-width: 450px;
}
.title_48 {
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
}
.btn_main {
    border: none; 
    outline: none; 
    display: inline-block;
    padding: 21px 30px;
    background: #6E00DC;
    border-radius: 60px;
    color: #fff;
    font-size: 15px;
    transition: 0.3s;
}
.btn_main:hover {
    cursor: pointer;
}
.main-promo__show-text .btn_main {
    margin-top: 32px;
}
.main-promo__img {
    background: url('/img/main-promo__img.png') 50% 50% no-repeat;
    background-size: contain;
    min-width: 831px;
    min-height: 717px;
}
@media (max-width: 1366px) {
    .main-promo__img {
        min-width: 600px;
        min-height: 400px;
    }
    .section-promo {
        height: 60vh;
    }
}
@media (max-width: 1200px) {
    .main-promo__img {
        min-width: 100px;
        min-height: 100px;
        transform: scale(5) translateX(-50px);
    }
    .section-promo {
        height: 55vh;
        background: url('/img/bg.png') 50% 50% no-repeat;
    }
    .title_48 {
        font-size: 36px;
    }
}
@media (max-width: 885px) {
    .main-promo__img {
        transform: scale(3) translateX(-50px);
    }
    .main-promo__show-text {
        margin: 20px 0;
    }
    .title_48 {
        font-size: 24px;
    }
    .btn_main {
        padding: 14px 20px;
        font-size: 13px;
    }
}
/* section-hero  */
.section-hero {
    background: #080C13;
    padding-bottom: 160px;

}
.hero-wrapper {
    display: flex;
}
.hero-left {
    display: flex;
    align-items: center;
    max-width: 50%;
    z-index: 0;
}
.hero-right {
    display: flex;
    align-items: center;
    max-width: 50%;
    z-index: 1;
}
.hero-left img {
    transform: scale(1) translate(-175px, 0);
}
.hero-right img {
    transform: scale(1) translate(-130px, 50px);
}
.hero-text__wrapper {
    display: flex;
}
.hero-text {
    font-size: 24px;
    color: #fff;
    width: 50%;
    text-align: center;
    margin-top: 20px;
}
.hero-wrapper .dropdown-inner._hero {
    display: none;
}
@media (max-width: 1600px) {
    .hero-wrapper {
        flex-wrap: wrap;
    }
    .hero-left {
        max-width: 100%;
    }
    .hero-right {
        max-width: 100%;
    }
    .hero-wrapper .dropdown-inner._hero {
        display: block;
    }
    .hero-right img,
    .hero-left img {
        width: 800px;
        transform: none;
    }
    .hero-text__wrapper {
        display: none;
    }
}
@media (max-width: 1200px) {
    .hero-right,
    .hero-left {
        margin: 120px 0;
    }
    .hero-right img,
    .hero-left img {
        width: 100px;
        transform: scale(5) translateX(28px);
    }
    .hero-wrapper .dropdown-inner._hero {
        margin-left: 35%;
    }
}
@media (max-width: 1000px) {
    .hero-right img,
    .hero-left img {
        width: 100px;
        transform: scale(3) translateX(28px);
    }
}
/* section-faq */
.section-faq {
    background: #080C13;
}
.faq-dropdown {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.dropdown-menu {
    width: 100%;
}
.dropdown-menu__gradient {
    width: 490px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 10px;
}
.dropdown-menu__gradient.active {
    background: linear-gradient(270deg, rgba(123,6,248,1) 0%, rgba(29,203,58,1) 100%);
}
.dropdown-menu__item {
    background: #080C13;
    width: 488px;
    height: 70px;
    padding: 0 25px;
    font-size: 16px;
    color: #E1E7F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Museo Sans Cyrl 500';
    border-bottom: 1px solid #21242E;
    border-radius: 10px;
    transition: 0.3s;
}
.dropdown-menu__item:hover {
    cursor: pointer;
}
.dropdown-menu__gradient.active + .dropdown-menu__item {
    font-family: 'Museo Sans Cyrl 700';
    color: #fff;
    background: linear-gradient(270deg, rgb(24 5 44) 0%, #080C13);
    border: none; 
}
.arrow-icon {
    font-family: 'Museo Sans Cyrl 500';
    transform: scaleY(1.8);
    font-size: 14px;
    color: #393E4B;
}
.dropdown-menu__gradient.active .arrow-icon {
    color: #fff;
}
.dropdown-inner {
    display: none;
}
.dropdown-inner.active {
    display: block;
}

.dropdown-inner__title {
    font-size: 24px;
    color: #FFFFFF;
}
.dropdown-inner__text {
    font-family: 'Museo Sans Cyrl 500';
    color: #E1E7F8;
    font-size: 16px;
}
@media (max-width: 1200px) {
    .faq-dropdown {
        flex-wrap: wrap;
    }
    .dropdown-menu__gradient {
       width: 100%;
    }
    .dropdown-menu__item {
        width: calc(100% - 2px);
    }
}
/* section-banner */
.section-banner {
    padding-top: 15px;
    background: #080C13;
}
.banner {
    background: url('/img/banner.png') 50% 50% no-repeat;
    background-size: contain;
    height: 305px;
}
.banner .btn_main {
    margin-top: 170px;
    margin-left: 72px;
}
.footer-line {
    margin-top: 70px;
    width: 100%;
    height: 1px;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(33,36,55,1) 50%, rgba(33,36,55,1) 100%);
}
/* footer */
.footer {
    font-family: 'Museo Sans Cyrl 500';
    background: #080C13;
    height: 320px;
}
.footer-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}
.footer-info {
    width: 30%;
}
.footer-policy {
    margin-top: 24px;
    font-size: 13px;
    color: #1B2335;
}
.footer-social {
    margin-top: 47px;
}
.footer-links {
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
}
.footer-links__item {
    font-size: 14px;
    color: #9398B2;
    transition: .3s;
}
.footer-links__item:hover {
    color: #fff;
    cursor: pointer;
}
@media (max-width: 951px) {
    .banner {
        height: 195px;
    }
    .footer-info {
        width: 100%;
        margin: 20px 0;
    }
    .footer {
        height: auto;
    }
    .footer-wrapper {
        flex-wrap: wrap;
    }
    .footer-links {
        height: auto;
        margin: 20px 0;
    }
    .dropdown-inner__title {
        font-size: 18px;
    }
    .dropdown-inner__text {
        font-size: 14px;
    }
    .hero-right, .hero-left {
        margin: 60px 0;
        flex-wrap: wrap;
    }
    .section-hero {
        padding-bottom: 60px;
    }
    .hero-wrapper .dropdown-inner._hero {
        margin-top: 60px;
    }
    .main-promo__show-text {
        min-width: 0;
    }
}
@media (max-width: 600px) {
    .main-promo__wrapper {
        flex-wrap: wrap;
    }
    .main-promo__img {
        transform: scale(3) translate(-40px, 15px);
    } 
}
@media (max-width: 573px) {
    .section-promo {
        height: 50vh;
    }
    .main-promo__show-text {
        min-width: 100%;
    }
    .main-promo__img {
        transform: scale(3) translate(48%, 15px);
    } 
}
@media (max-width: 370px) {
    .main-promo__img {
        transform: scale(3) translate(30px, 11px);
    } 
}